$color: #00d463;
$color-title: #3f5366;
$color-subtitle: #6d7d8b;
$color-title-dark: darken(#2f3e4d, 0%);
$color-grey: #6d7d8b;
$font-family-1: "Cabin", sans-serif;
$font-family-2: "Lato", sans-serif;
