@import "../styles/variables";
@import "../styles/mixins";

.nf404 {
  @include flexCenter(column);

  height: 100vh;
  & h1 {
    margin-top: 8vh;
    text-align: center;
    font-size: 4.5vh;
    color: $color-title;
  }
  & a {
    font-size: 5vh;
    color: $color;
  }
  & img {
    margin-top: 4rem;
    width: 100%;
  }
  @include media(">tablet") {
    & h1 {
      text-align: start;
      margin-top: 8rem;
      font-size: 5vh;
    }
    & a {
      font-size: 5vh;
      color: $color;
    }
    & img {
      margin-top: 2rem;

      height: 50vh;
    }
  }
}
